<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3's Chart Wrapper</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js"></script>

</head>
<body ng-app="hashtagApp">

  <div ng-controller="D3Controller">
    <div>
      <svg barchart-d3 data="glob" margin-top="20" margin-right="40" margin-bottom="10" margin-left="170" canvas-width="400"></svg>
    </div>

    <div>
      <svg barchart-d3 data="th" margin-top="20" margin-right="40" margin-bottom="10" margin-left="170" canvas-width="400"></svg>
    </div>

    <div id="tsParent">
      <div timeseries-d3 data="sumOfTop"></div>
    </div>
  </div>

  <div ng-controller="CodeController" style="position:fixed;top:2%; left:50%;right:50px;height:400px">
    <main style="height:100%">
      <form>
        <input id="input1" value="0" type="radio" name="tabs" ng-model="value" ng-change="newValue(value)">
        <label for="input1">Intro</label>
        
        <input id="input2" value="1"  type="radio" name="tabs" ng-model="value" ng-change="newValue(value)">
        <label for="input2">Mark up</label>

        <input id="input3" value="2" type="radio" name="tabs" ng-model="value" ng-change="newValue(value)" >
        <label for="input3">Directive</label>
        
        <input id="input4" value="3"  type="radio" name="tabs" ng-model="value" ng-change="newValue(value)">
        <label for="input4">Controller</label>
      </form>
        
      <section id="section1" style="display:block">
        ...
      </section>
      <section id="section2" style="display:none">
        ...
      </section>
      <section id="section3" style="display:none">
        ...
      </section>
      <section id="section4" style="display:none">
        ...
      </section>
  </div>

</body>
  <script src="app.js"></script>
  <script src="directives/barchartD3.js"></script>
  <script src="directives/timeseriesD3.js"></script>
  <script src="controllers/D3Controller.js"></script>
  <script src="controllers/CodeController.js"></script>
</html>
