<!--
Codepen Tabs:
codepen.io/oknoblich/pen/tfjFl
-->

<!DOCTYPE html>
<html dir="ltr" ng-app="hashtagApp">
<head>
    <title>Popular Hashtags and their Language Usage</title>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="index2.css">
    <link rel="stylesheet" href="style2.css">
    <script src="angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="jquery.dynatable.js"></script>
    <script src="d3.v3.min.js"></script>
    <script>
    var hashtagApp = angular.module('hashtagApp', []);

    hashtagApp.controller('LangListCtrl', function ($scope) {
      $scope.langs = [{"code":"all","name":"Global"},{"code":"fr","name":"French"},{"code":"en","name":"English"},{"code":"ar","name":"Arabic"},{"code":"ja","name":"Japanese"},{"code":"es","name":"Spanish"},{"code":"de","name":"German"},{"code":"it","name":"Italian"},{"code":"id","name":"Indonesian"},{"code":"pt","name":"Portuguese"},{"code":"ko","name":"Korean"},{"code":"tr","name":"Turkish"},{"code":"ru","name":"Russian"},{"code":"nl","name":"Dutch"},{"code":"fil","name":"Filipino"},{"code":"msa","name":"Malay"},{"code":"zh-tw","name":"Traditional Chinese"},{"code":"zh-cn","name":"Simplified Chinese"},{"code":"hi","name":"Hindi"},{"code":"no","name":"Norwegian"},{"code":"sv","name":"Swedish"},{"code":"fi","name":"Finnish"},{"code":"da","name":"Danish"},{"code":"pl","name":"Polish"},{"code":"hu","name":"Hungarian"},{"code":"fa","name":"Farsi"},{"code":"he","name":"Hebrew"},{"code":"ur","name":"Urdu"},{"code":"th","name":"Thai"},{"code":"en-gb","name":"English UK"}];
      
      var ranges = []; // array for creation of inner loop
      for (var i = 1; i <= 10; i++) {
         ranges.push(i);
      }
      $scope.ranges = ranges;

      $scope.value = 1; // this will set default tab
      $scope.newValue = function(lang, value) {
          console.log(value);
          $('#section'+value+'-'+lang).css("display", "block");
          $('#section'+(3-value)+'-'+lang).css("display", "none");
      }

    });
  </script>
</head>

<body ng-controller="LangListCtrl">

    <div style="position: fixed; top: 1%; right: 1%">
        <span style="float:right; background:white"><a href="https://github.com/arabbig/myfirstspark">Source code</a></span>
    </div>

<div ng-repeat="lang in langs">

<h1>{{lang.name}}</h1>

    <main>
      <form>
        <input id="input1-{{lang.code}}" value="1" type="radio" name="tabs" ng-model="value" ng-change="newValue(lang.code,value)" >
        <label for="input1-{{lang.code}}">Table</label>
        
        <input id="input2-{{lang.code}}" value="2"  type="radio" name="tabs" ng-model="value" ng-change="newValue(lang.code,value)">
        <label for="input2-{{lang.code}}">Chart</label>
      </form>
        
      <section id="section1-{{lang.code}}" style="display:block">
         <table id="table-{{lang.code}}">
            <thead>
              <tr class="header">
                <th>Tag</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in ranges" class="rows">
                <td>&nbsp</td><td>&nbsp</td>
              </tr>
            </tbody>
          </table>
      </section>
        
      <section id="section2-{{lang.code}}" style="display:none">
        <svg id="barchart-{{lang.code}}"></svg>
      </section>
        
    </main>
</div>

<div>
    <div class="subhead">Top Hashtags By Language</div>
    <div id="langBreakDown">
    </div>   
</body>


<script type="text/javascript">

  function setTable(data, $table) {
    $table.find('tr.rows').each(function(index){
      if(index < data.length) {
          $(this).find('td:first').text(data[index].tag);
          $(this).find('td:last').text(data[index].count);
      } else{
          $(this).find('td:first').text('');
          $(this).find('td:last').text('');
      }      
    });
  }

  function createChart() {
    var format = d3.format(",");
    var margin = {top: 20, right: 40, bottom: 10, left: 205},
      width = 400,
      height = 200 - margin.top - margin.bottom;


    var svg = d3.select("#barchart-all")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      /*.style("margin-left", -margin.left + "px")*/
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("g").attr("class", "x axis");
    svg.append("g")
      .attr("class", "y axis")
      .append("line")
      .attr("class", "domain")
      .attr("y2", height);



    var y = d3.scale.ordinal()
      .rangeRoundBands([0, height], .1);
    var x = d3.scale.linear().range([0, width]);
    var xAxis = d3.svg.axis()
      .scale(x)
      .orient("top")
      .tickSize(-height - margin.bottom)
      .tickFormat(format);


    function redrawRegion() {

        var maxValue = 0;
        data.forEach(function(d){
          maxValue =  Math.max(parseInt(d.Value), maxValue);
        });
        x.domain([0, maxValue]);

        y.domain(data.map(function(d) { return d.Key; }));
        var bar = svg.selectAll(".bar")
            .data(data, function(d) { return d.Key; });

        var barEnter = bar.enter().insert("g", ".axis")
            .attr("class", "bar")
            .attr("transform", function(d) { return "translate(0," + (y(d.Key) + height) + ")"; })
            .style("fill-opacity", 0);
        
        barEnter.append("rect")
            .attr("width", function(d) {return x(parseInt(d.Value)); })
            .attr("height", y.rangeBand());

        barEnter.append("text")
            .attr("class", "label")
            .attr("x", -10)
            .attr("y", y.rangeBand() / 2)
            .attr("dy", ".35em")
            .attr("text-anchor", "end")
            .text(function(d) { return d.Key; });

        barEnter.append("text")
            .attr("class", "value")
            .attr("x", function(d) { return x(parseInt(d.Value)) - 3; })
            .attr("y", y.rangeBand() / 2)
            .attr("dy", ".35em")
            .attr("text-anchor", "end");


      // ENTER + UPDATE
      // Appending to the enter selection expands the update selection to include
      // entering elements; so, operations on the update selection after appending to
      // the enter selection will apply to both entering and updating nodes.
        var barUpdate = d3.transition(bar)
            .attr("transform", function(d) { return "translate(0," + (d.y0 = y(d.Key)) + ")"; })
            .style("fill-opacity", 1);

        barUpdate.select("rect")
            .attr("width", function(d) { return x(parseInt(d.Value)); });

        barUpdate.select(".value")
            .attr("x", function(d) { return x(parseInt(d.Value)) - 3; })
            .text(function(d) {return format(Math.round(parseInt(d.Value))); });

        var barExit = d3.transition(bar.exit())
            .attr("transform", function(d) { return "translate(0," + (d.y0 + height) + ")"; })
            .style("fill-opacity", 0)
            .remove();

        barExit.select("rect")
            .attr("width", function(d) { return x(parseInt(d.Value)); });

        barExit.select(".value")
            .attr("x", function(d) { return x(parseInt(d.Value)) - 3; })
            .text(function(d) { return format(parseInt(d.Value)); });

        d3.transition(svg).select(".x.axis")
            .call(xAxis);
    }


    var data = data = [{"Key":"A","Value":"10"}, {"Key":"B","Value":"5"}, {"Key":"C","Value":"5"}, {"Key":"D","Value":"3"}];

    d3.transition()
          .duration(2000)
          .each(redrawRegion);
  }

  function processTagCountJSON(data) {
      setTable(data, $('#table-all'));
      //createChart();
      //setChart(data, d3.select('#barchart-all'));
  }

  function processLangCountJSON(data) {
      //console.log(data.length);
      for(j=0; j < data.length; ++j) {
        //if (key < 3) {
          var value = data[j];
          //console.log('#table-'+value.lang);
          setTable(value.topTags, $('#table-'+value.lang));
          //setChart(value.topTags, d3.select('#barchart-'+value.lang));
        //}
      }
  }

  setTimeout(createChart,3000);



// var format = d3.format(",");
// var margin = {top: 20, right: 40, bottom: 10, left: 205},
//   width = 400,
//   height = 200 - margin.top - margin.bottom;


// var svg = d3.select(".chart").append("svg")
//   .attr("width", width + margin.left + margin.right)
//   .attr("height", height + margin.top + margin.bottom)
//   /*.style("margin-left", -margin.left + "px")*/
//   .append("g")
//   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

</script>



<script type="text/javascript">

    $(function () {
      //Socket.io
      var socket = io('http://ec2-54-201-43-90.us-west-2.compute.amazonaws.com:3000');
      //Acknowledge
      socket.on('server', function (data) {
        console.log(data);
        socket.emit('browser', {});
      });
      //display messages sent by the server
      socket.on('topTags', function(data) {
        console.log('received topTags: ' + data);
        // Add the message to the page.
        processTagCountJSON(data);
        //$('#json1').html(JSON.stringify(data));
      });

      socket.on('topTagByLangs', function(data) {
        console.log('received topTagByLangs: ' + data);
        // Add the message to the page.
        //$('#json2').html(JSON.stringify(data));
        processLangCountJSON(data);                
      });

    });
</script>
    

